.info-popup{
    .ant-card-head{
        min-height: 30px !important;
    }
    .ant-card-body{
        padding: 0px 10px 10px 10px;
    }
    .p-ant{
        margin-top: 5px;
        margin-bottom: 5px;
      }
}