.info-surface{
    .ant-card-head{
        background-color: #00BFFF;
        min-height: 40px !important;
    }
    .ant-card-body{
        background-color: #3cccfc;
        padding: 0px 24px 24px 24px;
    }

    .ant-btn-dangerous{
        background-color: #ff4d4f;
        color: white !important;
        font-weight: bold;
        .ant-btn-icon{
            font-weight: 200;
        }
    }
}

.info-location{
    .ant-card-head{
        background-color: #7acc7d;
        min-height: 40px !important;
    }
    .ant-card-body{
        background-color: #97d399;
        padding: 0px 24px 24px 24px;
    }

    .ant-btn-dangerous{
        background-color: #ff4d4f;
        color: white !important;
        font-weight: bold;
        .ant-btn-icon{
            font-weight: 200;
        }
    }
}

.affix-antd-button{
    .ant-affix{
        left: 270px !important;
    }
}
