$color-primary: #4d99d7;
$background-color-scroll: white;
$hover-bg-color: #eef5ff;
$border-radius: 10px;
// @font-face {
//   font-family: 'dientu';
//   src: local('dientu'), url('./assets/fonts/Technology-BoldItalic.ttf') format('truetype');
//   font-weight: bold;
// }
@mixin scroll {
  // overflow: auto auto !important;
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #eef5ff;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #cbe1ff;
  }
}
.ant-table-content {
  @include scroll();
}
body {
  @include scroll();
  overflow-x: hidden;
}

.ant-modal-wrap {
  @include scroll();
}

.rc-virtual-list-scrollbar-thumb {
  border-radius: 8px;
  background-color: #deeff9 !important;
}

.ant-picker {
  width: 100%;
}

.ant-input-number {
  width: 100% !important;
}

.ant-table-column-has-sorters {
  background-color: #fafafa !important;
}

.ant-space {
  width: 100%;
}

.ant-layout {
  background-color: transparent !important;
}

.ant-modal-header {
  background: #eff4ff !important;

  .ant-modal-title {
    font-weight: bold !important;
  }
}

.layout-basic-page {
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.tag-active-content {
  cursor: pointer;
  .ant-tag {
    width: 100%;
  }
}

.header-select-table {
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 13px;
  font-weight: bold;
  border-bottom: 1px solid #eef5ff;
  background-color: #eef5ff;
  text-transform: uppercase;
  .col-first-select-table {
    margin-left: 12px;
  }
}

.ant-checkbox-inner {
  border: $color-primary 1px solid;
}

.fa-question-circle {
  color: #fbc14f;
}

.layout-page {
  margin-top: 50px;
}

.descriptions {
  background-color: white;
  padding: 10px;
}

.cards {
  background-color: white;
}

.ant-input-number-group-wrapper {
  width: 100%;
}

.ant-table-cell-row-hover {
  cursor: pointer;
}

.ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  content: none !important;
}

.ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::after {
  display: inline-block;
  color: #f2994a;
  content: '*';
}

.ant-card-head {
  border-bottom-color: #e7eeff !important;
}
.ant-modal-footer {
  border-top-color: #e7eeff !important;
}
.ant-upload-list-item {
  padding: 0 !important;
}

.ant-upload {
  background: #f4f9ff;
  border-radius: 10px;
}

.ant-upload-list-item-info {
  border-radius: 6px;
}

.ant-modal {
  .ant-modal-header {
    border-bottom-color: #e8efff;
  }
}

.input-code {
  color: $color-primary !important;
  font-weight: bold;
  text-transform: uppercase;
}

.b-code {
  color: $color-primary;
}

.ant-card-bordered {
  border: #e7eeff solid 1px;
}

.ant-tabs-nav {
  &:before {
    border-bottom: 1px solid #e8efff !important;
  }
}

.image-avatar {
  border: 1px solid #e8efff;
}

.ant-upload-list-item-actions {
  z-index: 9 !important;
}

.ant-select-auto-complete {
  width: 100% !important;
}

.ant-select {
  width: 100%;
}

.upload-avatar-profile {
  justify-content: center;
  display: grid;
  .ant-upload-list {
    .ant-upload-list-picture-card-container {
      .ant-upload-list-item {
        border-radius: 50% !important;

        .ant-upload-list-item-info {
          border-radius: 50% !important;
        }
      }
    }
  }

  .button-image-trans {
    border-radius: 50% !important;
  }

  .ant-upload {
    border-radius: 50%;
  }
}
.ant-badge-status-text {
  color: #4e4e4e !important;
}
.ant-table-cell-scrollbar:not([rowspan]) {
  box-shadow: none !important;
}
.ant-badge-count {
  background-color: #ff4d4f !important;
}
.ant-popover-title {
  border-bottom: 1px solid #e8efff !important;
}
.ant-list-item {
  &:hover {
    cursor: pointer;
    background: $hover-bg-color;
    border-radius: 5px;
  }
}
.ant-tabs-tab {
  border: none !important;
}
.ant-card {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
.b-type-product-code {
  @extend .input-code;
  overflow-wrap: anywhere !important;
  text-align: start;
  display: flex;
}
.badge-process {
  margin-left: 5px !important;
  .ant-badge-status-dot {
    width: 9px !important;
    height: 9px !important;
  }
}
.ant-picker-input > input {
  font-size: 14px !important;
}
.ant-image-preview-wrap {
  z-index: 1180 !important;
}
.ant-picker-cell-selected {
  .ant-picker-cell-inner {
    background: #58b0e3 !important;
    height: 100%;
  }
}
.ant-picker-cell-inner {
  height: 100% !important;
}
.btn-reload {
  background: #e3efff;
  .anticon-reload {
    color: #4d99d7;
  }
}
.ant-form-item-tooltip {
  cursor: default !important;
}
.custom-checkbox-table-print-stamp {
  .ant-checkbox-inner {
    background: #6fcf97 !important;
    border: none !important;
  }
}
.ant-input-show-count-suffix{
  font-weight: normal;
}
