$color-primary: #4d99d7;
$background-color-scroll: white;
$hover-bg-color: #eef5ff;
$border-radius: 10px;
$color-cell: #eef5ff;

body {
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
  font-family: 'Mulish', sans-serif !important;
  font-weight: 405 !important;
  background-color: #f3f8ff !important;
  &::-webkit-scrollbar {
    width: 5px;
    background-color: white;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-button {
    background-color: white;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #cbe1ff;
  }
}

.rc-virtual-list-scrollbar-thumb {
  border-radius: 8px;
  background-color: #deeff9 !important;
}

.b-code{
    color:  $color-primary;
    cursor: pointer
}

.drop-down-button {
    .icon-ellips {
      cursor: pointer;
    }
    .icon-edit {
      color: #6fcf97 !important;
    }
    .icon-delete {
      color: red !important;
    }
  
    .icon-changedPass {
      color: orange;
    }
  }
.ant-dropdown-trigger {
    height: 100% !important;
  }
.disabled-button {
    opacity: 0.4;
}

.ant-btn-primary {
  background-color: $color-primary;
}

//Table
.table-row td:first-child {
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
}
.ant-table-row-selected {
  background-color: white !important;
}
.table-row td:last-child {
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

.ant-table-tbody {
  tr {
    td {
      border-right: 1px solid #f0f0f0;
      border-bottom: none !important;
    }
  }
}
.ant-checkbox-checked {
  .ant-checkbox-inner {
    .ant-checkbox {
      .ant-checkbox-wrapper {
        border-radius: 0px;
      }
    }
  }
}

.ant-table-selection-column {
  border-right: none !important;
}
